:root {
  --font-jost: "Jost", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-montserrat-thin: "Montserrat-thin", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

@font-face {
  font-family: "Jost";
  src: url("https://cdn.shopify.com/s/files/1/0941/8362/0977/files/Jost-Light.woff2?v=1756663309")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0941/8362/0977/files/Jost-Light.woff?v=1756663310")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("https://cdn.shopify.com/s/files/1/0941/8362/0977/files/Montserrat-Bold.woff2?v=1756663310")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0941/8362/0977/files/Montserrat-Bold.woff?v=1756663310")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-thin";
  src: url("https://cdn.shopify.com/s/files/1/0941/8362/0977/files/Montserrat-Thin.woff2?v=1756770396")
      format("woff2"),
    url("https://cdn.shopify.com/s/files/1/0941/8362/0977/files/Montserrat-Thin.woff?v=1756770397")
      format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3 {
  font-family: var(--font-montserrat);
}

p {
  font-family: var(--font-jost);
}

.mobile-only {
  display: none;
}
@media (max-width: 767px) {
  .mobile-only {
    display: block;
  }
}

.desktop-only {
  display: none;
}
@media (min-width: 767px) {
  .desktop-only {
    display: block;
  }
}
